:host {
  display: block;
  height: 550px;

  @media (min-width: 768px) {
    height: 850px;
  }

  @media (min-width: 1025px) {
    height: 1200px;
  }
}

.media {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;

  h1 {
    font-weight: 500;
    color: #FFF8E1;
    font-size: 42px;
    line-height: 52px;
    margin: 0;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  margin-top: 64px;

  @media (min-width: 768px) {
    flex-direction: row;
    width: 584px;
    margin-top: 88px;
  }

  @media (min-width: 1025px) {
    width: 1200px;
  }
}

.hexblock {
  width: 40px;
  height: 39px;
}

.hex-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 260px;
  width: 205px;

  @media (min-width: 768px) {
    width: 170px;
    height: 250px;
    margin-bottom: 32px;
  }

  @media (min-width: 1025px) {
    height: 430px;
    width: 370px;
    margin-bottom: 48px;
  }

  a {
    position: relative;
    display: block;
    width: 170px;
    height: 146px;
    z-index: 1;

    @media (min-width: 1025px) {
      height: 320px;
      width: 370px;

      &:hover {
        .image {
          opacity: 0.5;
        }
      }
    }
  }

  .image {
    width: 170px;
    height: 146px;
    transition: all 0.35s ease-in-out;

    @media (min-width: 1025px) {
      height: 320px;
      width: 370px;
    }
  }

  h1 {
    position: relative;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    text-align: center;
    width: 200px;
    align-self: auto;
    text-align: center;

    @media (min-width: 768px) {
      text-align: center;
    }

    @media (min-width: 1025px) {
      width: auto;
    }
  }
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media(max-width: 767px) {
    display: none;
  }
}

.flex-row-last {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  @media(max-width: 767px) {
    display: none;
  }
}

.mobile-media-outer {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  align-items: center;
  align-self: flex-start;
  height: 260px;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  @media(min-width: 768px) {
    display: none;
  }
}

.mobile-media-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.row2_0 {
  @media (min-width: 768px) {
    margin-left: 80px;
  }

  @media (min-width: 1025px) {
    margin-left: 170px;
  }
}

.row2_1 {
  @media (min-width: 768px) {
    margin-right: 80px;
  }

  @media (min-width: 1025px) {
    margin-right: 170px;
  }
}
