<section class="media">
  <h1>Media</h1>
  <div class="wrapper">
    <div class="jar"></div>
    <div class="mobile-media-outer">
      <div class="mobile-media-inner">
        <div class="hex-container">
          <a href="https://www.youtube.com/watch?v=7guy82eR0BY" target="_blank">
            <img class="image" src="/assets/images/media/blockcon.png">
          </a>
          <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
          <h1>Block Con Santa Monica</h1>
        </div>
        <div class="hex-container">
          <a href="https://www.huffingtonpost.com/entry/disrupting-the-disruptors-why-experts-think-the-blockchain_us_59e52b47e4b04e9111a3e442" target="_blank">
            <img class="image" src="/assets/images/media/huffpost.png">
          </a>
          <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
          <h1>Huffington Post</h1>
        </div>
        <div class="hex-container hex2">
          <a href="https://cointelegraph.com/news/experts-answer-question-how-did-bitcoin-reach-10000" target="_blank">
            <img class="image" src="/assets/images/media/cointelegraph.png">
          </a>
          <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
          <h1>Cointelegraph</h1>
        </div>
        <div class="hex-container">
          <a href="https://soundcloud.com/blockchannelshow/episode-30-to-bee-or-not-to-bee" target="_blank">
            <img class="image" src="/assets/images/media/blockchannel.png">
          </a>
          <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
          <h1>BlockChannel</h1>
        </div>
        <div class="hex-container">
          <a href="https://bitcointalk.org/index.php?topic=2213527.0" target="_blank">
            <img class="image" src="/assets/images/media/forum.png">
          </a>
          <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
          <h1>Bitcoin Forum</h1>
        </div>
      </div>
    </div>
    <div class="flex-row">
      <div class="hex-container">
        <a href="https://www.youtube.com/watch?v=7guy82eR0BY" target="_blank">
          <img class="image" src="/assets/images/media/blockcon.png">
        </a>
        <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
        <h1>Block Con Santa Monica</h1>
      </div>
      <div class="hex-container">
        <a href="https://www.huffingtonpost.com/entry/disrupting-the-disruptors-why-experts-think-the-blockchain_us_59e52b47e4b04e9111a3e442" target="_blank">
          <img class="image" src="/assets/images/media/huffpost.png">
        </a>
        <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
        <h1>Huffington Post</h1>
      </div>
      <div class="hex-container hex2">
        <a href="https://cointelegraph.com/news/experts-answer-question-how-did-bitcoin-reach-10000" target="_blank">
          <img class="image" src="/assets/images/media/cointelegraph.png">
        </a>
        <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
        <h1>Cointelegraph</h1>
      </div>
    </div>
    <div class="flex-row-last">
      <div class="hex-container">
        <a href="https://soundcloud.com/blockchannelshow/episode-30-to-bee-or-not-to-bee" target="_blank">
          <img class="image" src="/assets/images/media/blockchannel.png">
        </a>
        <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
        <h1>BlockChannel</h1>
      </div>
      <div class="hex-container">
        <a href="https://bitcointalk.org/index.php?topic=2213527.0" target="_blank">
          <img class="image" src="/assets/images/media/forum.png">
        </a>
        <img class="hexblock" src="/assets/images/media/hexblock.png" alt="hex logo">
        <h1>Bitcoin Forum</h1>
      </div>
    </div>
  </div>
</section>