<section class="media">
  <h1>Media</h1>
  <div class="wrapper">
    <div class="jar"></div>
    <div class="hex-container">
      <a href="https://soundcloud.com/blockchannelshow/episode-30-to-bee-or-not-to-bee" target="_blank">
        <img src="/assets/images/media/blockchannel.png">
      </a>
      <h1>BlockChannel: To Bee or Not to Bee</h1>
    </div>
    <div class="hex-container hex2">
      <a href="https://bitcointalk.org/index.php?topic=2213527.0" target="_blank">
        <img src="/assets/images/media/forum.png">
      </a>
      <h1>Bitcoin Forum</h1>
    </div>
  </div>
</section>