<header [class.fixed]="fixed">
  <div class="container-mobile">
    <div class="header-icon-mobile">
      <a href="#" (click)="closeBurger()"><div class="header-icon-inner"></div></a>
    </div>
    <div class="hamburger" (click)="switchIcon()">
      <img [src]="icon">
    </div>
    <div class="mobile-overlay" *ngIf="isOpen" (click)="closeBurger()"></div>
    <div class="mobile-links" [class.isOpen]="isOpen">
        <a pageScroll href="#subscribe" class="subscribe-link" (click)="closeBurger()">subscribe</a>
        <a pageScroll href="#about" (click)="closeBurger()">about</a>
        <a pageScroll href="#roadmap" (click)="closeBurger()">roadmap</a>
        <a pageScroll href="#token" (click)="closeBurger()">token distribution</a>
        <a pageScroll href="#team" (click)="closeBurger()">team</a>
        <a pageScroll href="#advisors" (click)="closeBurger()">advisors</a>
        <a [routerLink]="['/whitepaper']" (click)="closeBurger()" target="_blank">whitepaper</a>
        <div class="header-social-links">
          <div class="header-social-container">
            <a href="https://medium.com/@thebeetoken" target="_blank" (click)="closeBurger()">
              <img src="/assets/svg/medium-blue.svg" alt="medium">
            </a>
            <a href="https://www.facebook.com/thebeetoken" target="_blank" (click)="closeBurger()">
              <img src="/assets/svg/facebook-blue.svg" alt="facebook">
            </a>
            <a href="https://twitter.com/thebeetoken" target="_blank" (click)="closeBurger()">
              <img src="/assets/svg/twitter-blue.svg" alt="twitter">
            </a>
            <a href="https://t.me/beetoken" target="_blank" (click)="closeBurger()">
              <img src="/assets/svg/telegram-blue.svg" alt="telegram">
            </a>
          </div>
        </div>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="container-desktop">
    <div class="header-icon-large">
      <a href="#"><div class="header-icon-inner"></div></a>
    </div>
    <div class="links">
      <a pageScroll href="#about">about</a>
      <a pageScroll href="#roadmap">roadmap</a>
      <a pageScroll href="#token">token distribution</a>
      <a pageScroll href="#team">team</a>
      <a pageScroll href="#advisors">advisors</a>
      <a pageScroll href="#subscribe">subscribe</a>
      <a [routerLink]="['/whitepaper']" target="_blank" (click)="closeBurger()">
        <button>whitepaper</button>
      </a>
    </div>
  </div>
</header>