<section class="value-prop-content"> 
  <div class="value-prop">
    <div class="value-prop-icon-bee">
      <img src="/assets/images/hero/value-prop-bee.png">
    </div>
    <h1>Decentralized Network Effects</h1>
    <p>Power back to the people. 50% of tokens distributed through presale and ICO.</p>
  </div>
  <div class="value-prop">
    <div class="value-prop-icon-token">
      <img src="/assets/images/hero/value-prop-token.png">
    </div>
    <h1>Lower Fees, Higher Returns</h1>
    <p>Less overhead, lower fees, and no 3rd party processors means more $$$ for everyone!</p>
  </div>
  <div class="value-prop">
    <div class="value-prop-icon-security">
      <img src="/assets/images/hero/value-prop-security.png">
    </div>
    <h1>Trust &amp; Security</h1>
    <p>Feel secure with multiple layers of security through Blockchain technology.</p>
  </div>
  <div class="value-prop">
    <div class="value-prop-icon-contract">
      <img src="/assets/images/hero/value-prop-contract.png">
    </div>
    <h1>Automation</h1>
    <p>Spend more time enjoying yourself with Smart Contracts, Smart Billing, and handsfree key hand offs!</p>
  </div>
</section>