<section class="value-prop-content"> 
  <div class="value-prop">
    <div class="value-prop-icon-token">
      <img src="/assets/images/hero/value-prop-token.png">
    </div>
    <h1>0% Commissions</h1>
    <p>Decentralized platform eliminates the middleman</p>
  </div>
  <div class="value-prop">
    <div class="value-prop-icon-bee">
      <img src="/assets/images/hero/value-prop-bee.png">
    </div>
    <h1>Aligned Incentives</h1>
    <p>Tokens distributed through presale and ICO</p>
  </div>
  <div class="value-prop">
    <div class="value-prop-icon-security">
      <img src="/assets/images/hero/value-prop-security.png">
    </div>
    <h1>Security</h1>
    <p>Bank-level security through Blockchain technology</p>
  </div>
  <div class="value-prop">
    <div class="value-prop-icon-contract">
      <img src="/assets/images/hero/value-prop-contract.png">
    </div>
    <h1>Trust</h1>
    <p>Transparent practices with immutable feedback</p>
  </div>
</section>
