<footer>
  <div class="overlay"></div>
  <div class="content">
    <h2>Reach us anywhere!</h2>
    <div class="links">
      <a href="https://medium.com/@thebeetoken" target="_blank">
        <img src="/assets/svg/medium-white.svg" alt="medium">
      </a>
      <a href="https://twitter.com/thebeetoken" target="_blank">
        <img src="/assets/svg/twitter-white.svg" alt="twitter">
      </a>
      <a href="https://t.me/thebeetalk" target="_blank">
        <img src="/assets/svg/telegram-white.svg" alt="telegram">
      </a>
      <a href="https://www.facebook.com/thebeetoken" target="_blank">
        <img src="/assets/svg/facebook-white.svg" alt="facebook">
      </a>
    </div>
  </div>
</footer>