<<<<<<< HEAD
h5 {
=======
h4 {
>>>>>>> 983e6621b62e70df463503b0538c5f8505d056ed
    &.presale-text {
      color: #fff;
      text-align: center;
      font-weight: 300;
      line-height: 24px;
    }
  }