<section class="advisors">
  <div id="advisors"></div>
  <div class="header">
    <h1>Advisors</h1>
    <p>A special group of individuals providing insight from top tech and financial companies.</p>
  </div>
  <div class="advisors-container-mobile">

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay" 
              style="background-image: url('assets/images/profile/sam.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Sam Yam</h1>
        <p>Co-founder &#64;Patreon, YC Expert &#64;Y Combinator</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay" 
              style="background-image: url('assets/images/profile/stephen.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Stephen Seo</h1>
        <p>CFA/CPA Investment Advisor, Former Investment Banker &#64;JP Morgan</p>
      </div>   
    </div>  

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay" 
              style="background-image: url('assets/images/profile/toshi.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Toshi Masubuchi</h1>
        <p>Corporate, Operations, and Product Finance &#64;Tanium, Former Business Valuation Senior Associate &#64;Deloitte</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay" 
              style="background-image: url('assets/images/profile/kevin-zhou.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Kevin Zhou</h1>
        <p>Co-founder Galois Capital, Current Advisor &#64;Enigma, Former Head of Trading &#64;Kraken</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay" 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Jeff Retchman</h1>
        <p>Contracts Law &#64;Google, Former Legal &#64;Grooveshark</p>
      </div>  
    </div>


  </div>
  <div class="advisor-container-desktop">

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/stephen.png');">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo colored"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">  
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/toshi.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/kevin-zhou.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo colored">
            <div class="advisor-blurb-hex">
              <h1>Sam Yam</h1>
              <p>Co-founder &#64;Patreon, YC Expert &#64;Y Combinator</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay">
            <div class="advisor-blurb-hex">
              <h1>Stephen Seo</h1>
              <p>CFA/CPA Investment Advisor, Former Investment Banker &#64;JP Morgan</p>
            </div>  
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay">
            <div class="advisor-blurb-hex">
              <h1>Toshi Masubuchi</h1>
              <p>Corporate, Operations, and Product Finance &#64;Tanium, Former Business Valuation Senior Associate &#64;Deloitte</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay">
            <div class="advisor-blurb-hex">
              <h1>Kevin Zhou</h1>
              <p>Co-founder Galois Capital, Current Advisor &#64;Enigma, Former Head of Trading &#64;Kraken</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/jeff.png');">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo overlay">
            <div class="advisor-blurb-hex">
              <h1>Jeff Retchman</h1>
              <p>Contracts Law &#64;Google, Former Legal &#64;Grooveshark</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
