<section class="advisors">
  <div id="advisors"></div>
  <div class="header">
    <h1>Advisors</h1>
    <p>A special group of individuals providing insight from top tech and financial companies.</p>
  </div>
  <div class="advisors-container-mobile" [class.open]="isExpanded">

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214826/victor_usbwxg.png');">
              <a href="https://www.linkedin.com/in/victordossantos/" target="_blank"></a>  
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Victor Santos</h1>
        <p>Co-founder &amp; CEO &#64;AirToken / AirFox, Former &#64;Google, &#64;BerkeleyHaas</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214812/can_lor6ju.png');">
              <a href="https://www.linkedin.com/in/cankisagun/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Can Kisagun</h1>
        <p>Co-founder &#64; CPO &#64;Enigma, Former &#64;McKinsey, &#64;MIT</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214812/min_uaupib.png');">
              <a href="https://www.linkedin.com/in/minkimd14/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Min Kim</h1>
        <p>Chief of Staff &#64;Civic, Former &#64;Tim Draper, &#64;Lumia Capital, &#64;Dartmouth</p>
      </div>   
    </div>  

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214824/kevin-zhou_sk5vik.png');">
              <a href="https://www.linkedin.com/in/kevin-zhou-82938324/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Kevin Zhou</h1>
        <p>Co-founder &#64;Galois Capital, Advisor &#64;Enigma, Former Head of Trading &#64;Kraken, &#64;UCBerkeley</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508221953/richardli_zp2nx6.png');">
              <a href="https://www.linkedin.com/in/richard-li-181a368/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Richard Li</h1>
        <p>Co-founder &#64;AlphaBlock Investments, Advisor &#64;Multiplied.io</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214821/stephen_dpsvvb.png');">
              <a href="https://www.linkedin.com/in/stephenseo/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Stephen Seo</h1>
        <p>Inbound Tax Advisor. Currenty &#64;RVW, CPA, CFA, Former &#64;JPMorgan, &#64;Deloitte</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214825/jeff_qru532.png');">
              <a href="https://www.linkedin.com/in/jeffrechtman/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Jeff Retchman</h1>
        <p>Contracts Law &#64;Google, Former Legal &#64;Grooveshark</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214832/toshi_xkkqpm.png');">
              <a href="https://www.linkedin.com/in/toshi-masubuchi-33a98725/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Toshi Masubuchi</h1>
        <p>Operations/Finance Advisor. Finance &#64;Tanium, Former Sr. Associatte &#64;Deloitte</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo " 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214822/sam_isqe9j.png');">
              <a href="https://www.linkedin.com/in/samyam/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Sam Yam</h1>
        <p>Co-founder &amp; CTO &#64;Patreon, YC Expert &#64;Y Combinator</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214814/aa_akvih8.png');">
              <a href="https://www.linkedin.com/in/anastasia-andrianova-79198b4/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Anastasia Andrianova</h1>
        <p>Co-founder &#64; Managing Director &#64;Apiro Capital, Advisory Board &#64;Openmaker.eu, Former &#64;Lehman, &#64;Oxford</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay" 
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214813/richardma_jcripu.png');">
              <a href="https://www.linkedin.com/in/rtmtd/" target="_blank"></a>                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Richard Ma</h1>
        <p>Co-founder &#64; CEO &#64;Quantstamp, Former Algo Trader, Crypto Fund Manager</p>
      </div>  
    </div>

  </div>
  <button (click)="showMore()" *ngIf="!isExpanded">Show More Advisors</button>
  <div class="advisor-container-desktop">

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214826/victor_usbwxg.png');">
            <a href="https://www.linkedin.com/in/victordossantos/" target="_blank"></a>              
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo gold">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214812/can_lor6ju.png');">
            <a href="https://www.linkedin.com/in/cankisagun/" target="_blank"></a>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214812/min_uaupib.png');">
            <a href="https://www.linkedin.com/in/minkimd14/" target="_blank"></a>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo advisor-blurb-hex"> 
            <h1>Victor Santos</h1>
            <p>Co-founder &amp; CEO &#64;AirToken / AirFox, Former &#64;Google, &#64;BerkeleyHaas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo light-gold">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex"> 
            <h1>Can Kisagun</h1>  
            <p>Co-founder &amp; CPO &#64;Enigma, Former &#64;McKinsey, &#64;MIT</p>             
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex"> 
            <h1>Min Kim</h1>             
            <p>Chief of Staff &#64; Civic, Former &#64;Tim Draper, &#64;Lumia Capital, &#64;Dartmouth</p>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214824/kevin-zhou_sk5vik.png');">
            <a href="https://www.linkedin.com/in/kevin-zhou-82938324/" target="_blank"></a>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo grey">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo darker-grey">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508221953/richardli_zp2nx6.png');">
            <a href="https://www.linkedin.com/in/richard-li-181a368/" target="_blank"></a>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Kevin Zhou</h1>   
            <p>Co-founder &#64;Galois Capital, Advisor &#64;Enigma, Former Head of Trading &#64;Kraken, &#64;UCBerkeley</p>             
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214821/stephen_dpsvvb.png');">
            <a href="https://www.linkedin.com/in/stephenseo/" target="_blank"></a>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Richard Li</h1>
            <p>Co-founder &#64;AlphaBlock Investments, Advisor &#64;Multiplied.io</p>              
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214825/jeff_qru532.png');">
            <a href="https://www.linkedin.com/in/jeffrechtman/" target="_blank"></a>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo dark-gold">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex"> 
            <h1>Stephen Seo</h1>
            <p>Inbound Tax Advisor. Currenty &#64;RVW, CPA, CFA, Former &#64;JPMorgan, &#64;Deloitte</p>               
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214832/toshi_xkkqpm.png');">
            <a href="https://www.linkedin.com/in/toshi-masubuchi-33a98725/" target="_blank"></a>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">  
            <h1>Jeff Rechtman</h1>        
            <p>Contracts Law &#64;Google, Former Legal &#64;Grooveshark</p>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214822/sam_isqe9j.png');">
            <a href="https://www.linkedin.com/in/samyam/" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Toshi Masubuchi</h1>
            <p>Operations/Finance Advisor. Finance &#64;Tanium, Former Sr. Associatte &#64;Deloitte</p>          
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Sam Yam</h1>
            <p>Co-founder &amp; CTO &#64;Patreon, YC Expert &#64;Y Combinator</p>             
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214814/aa_akvih8.png');">
            <a href="https://www.linkedin.com/in/anastasia-andrianova-79198b4/" target="_blank"></a>               
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo dark-grey">       
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508214813/richardma_jcripu.png');">
            <a href="https://www.linkedin.com/in/rtmtd/" target="_blank"></a>               
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">          
            <h1>Anastasia Andrianova</h1>
            <p>Co-founder &amp; Managing Director &#64;Apiro Capital, Advisory Board &#64;Openmaker.eu, Former &#64;Lehman, &#64;Oxford</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Richard Ma</h1>
            <p>Co-founder &amp; CEO &#64;Quantstamp, Former Algo Trader, Crypto Fund Manager</p>              
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
