.advisors {
  position: relative;
  background: #263238;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 225px;

  @media (min-width: 768px) {
    min-height: 1150px;
    padding: 86px 0 145px;
  }

  @media (min-width: 1025px) {
    height: 2360px;
    padding: 86px 0 145px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h1 {
    font-weight: 500;
    color: #FFF8E1;
    font-size: 42px;
    line-height: 52px;
    margin: 0;
  }

  p {
    font-weight: 300;
    color: #FFF8E1;
    font-size: 16px;
    line-height: 24px;
    width: 260px;
    margin: 24px 0 0;
    text-align: center;

    @media (min-width: 1025px) {
      width: 383px;
    }
  }
}

.advisors-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 260px;
  max-height: 1750px;
  transition: all 1.5s ease-in-out;

  &.open {
    max-height: 10000px;
  }

  @media (min-width: 768px) {
    width: 562px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 960px;

    &.open {
      max-height: 5500px;
    }

    .advisor-container:nth-child(1),
    .advisor-container:nth-child(2n + 1) {
      margin-right: 35px;
    }

    .advisor-container:nth-child(2),
    .advisor-container:nth-child(2n + 2) {
      margin-left: 35px;
    }

    .advisor-container:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: 1025px) {
    display: none;
  }

  .advisor-container {
    margin-top: 56px;

    @media (min-width: 768px) {
      height: 406px;
    }
  }

  .hexagon-container {
    position: relative;
    flex-shrink: 0;
    width: 242px;
    height: 202px;
    position: relative;
    display: inline-block;
  }
  
  .invisible {
    opacity: 0;
  
    .hexagon {
      cursor: default;
    }
  }
  
  .hexagon2 {
    position: absolute;
    width: 202px;
    height: 242px;
    top: -18px;
    left: 18px;
  }
  
  .hexagon {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(90deg);
  }
  
  .hexagon-inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
  }
  
  .hexagon-photo {
    overflow: hidden;
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: rotate(-60deg);
    transition: all 0.5s ease;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 125%;

    &.overlay {
      box-shadow: inset 0 0 0 200px rgba(225, 193, 7, 0.20);
    }
  }
}

.advisor-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 600;
    color: #FFC107;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 16px;
  }

  p {
    width: 180px;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: center;
  }
}



@media (min-width: 1025px) {
  .advisor-container-desktop {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1103px;
    height: 100%;
    margin-top: -36px;
  
    .hexagon-container:nth-child(5n + 2) {
      margin-left: 141px;
    }
  
    .hexagon-container:nth-child(5n + 3) {
      margin-left: 142px;
    } 
  
    .hexagon-container:nth-child(5n + 4) {
      margin-top: -117px;
      margin-left: 207px;
    } 
  
    .hexagon-container:nth-child(5n + 5) {
      margin-top: -117px;
      margin-left: 141px;
    } 
  
    .hexagon-container:nth-child(5n + 6) {
      margin-top: -117px;
    }
    
    .hexagon-container:nth-child(5n + 7) {
      margin-top: -117px;
    } 
  
    .hexagon-container:nth-child(5n + 8) {
      margin-top: -117px;
    } 
  
    .hexagon-container:nth-child(5n + 9) {
      margin-top: -117px;
    } 
  }
  
  .hexagon-container {
    position: relative;
    flex-shrink: 0;
    width: 272px;
    height: 236px;
    position: relative;
    display: inline-block;
  }
  
  .invisible {
    opacity: 0;
  
    .hexagon {
      cursor: default;
    }
  }
  
  .hexagon2 {
    position: absolute;
    width: 236px;
    height: 272px;
    top: -18px;
    left: 18px;
  }
  
  .hexagon {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(90deg);
  }
  
  .hexagon-inner {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
  }
  
  .hexagon-photo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 125%;
    visibility: visible;
    transform: rotate(-60deg);
    transition: all 0.5s ease;

    &.dark-gold {
      box-shadow: inset 0 0 0 200px rgba(225, 193, 7, 0.5);
    }

    &.gold {
      box-shadow: inset 0 0 0 200px rgba(255, 193, 7, 0.2);
    }

    &.light-gold {
      box-shadow: inset 0 0 0 200px rgba(255, 248, 225, 0.1);
    }

    &.darker-grey {
      box-shadow: inset 0 0 0 200px rgba(41, 54, 60, 1.0);
    }

    &.dark-grey {
      box-shadow: inset 0 0 0 200px rgba(55, 66, 69, 0.5);
    }

    &.grey {
      box-shadow: inset 0 0 0 200px rgba(115, 126, 132, 0.5);
    }
  }
}

#advisors {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  right: 0;
  height: 60px;

  @media (min-width: 1025px) {
    top: -25px;
  }
}

.advisor-blurb-hex {
  display: none;

  @media (min-width: 1025px) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(-30deg);
    width: 200px;
    padding-top: 120px;
  
    h1 {
      font-weight: 600;
      color: #FFC107;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 0 0 20px;
    }
  
    p {
      font-weight: 300;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin: 0;
    }
  }
}

button {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  bottom: 170px;
  transform: translate3d(-50%, 0, 0);
  width: 262px;
  height: 64px;
  background: #FFC107;
  border: none;
  border-radius: 3em;
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  transition: all 0.25s ease-in-out;
  outline: 0;
  cursor: pointer;
  z-index: 1;

  @media (min-width: 768px) {
    bottom: 56px;
  }

  @media (min-width: 1025px) {
    display: none;
  }
}