<section class="advisors">
  <div id="advisors"></div>
  <div class="header">
    <h1>Advisors</h1>
    <p>A special group of individuals providing insight from top tech and financial companies.</p>
  </div>
  <div class="advisors-container-mobile">

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/sam.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Victor Santos</h1>
        <p>Co-Founder &amp; CEO &#64;AirToken / AirFox, Former &#64;Google, &#64;UCBerkeley</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Can Kisagun</h1>
        <p>Co-Founder &#64; CPO &#64;Enigma, Former &#64;McKinsey, &#64;MIT</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/stephen.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Min Kim</h1>
        <p>Chief of Staff &#64;Civic, Former &#64;Tim Draper, &#64;Lumia Capital, &#64;Dartmouth</p>
      </div>   
    </div>  

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/toshi.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Kevin Zhou</h1>
        <p>Co-Founder &#64;Galois Capital, Advisor &#64;Enigma, Former Head of Trading &#64;Kraken, &#64;UCBerkeley</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/kevin-zhou.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Richard Li</h1>
        <p>Co-Founder &#64;AlphaBlock Investments, Advisor &#64;Multiplied.io</p>
      </div>
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Stephen Seo</h1>
        <p>Inbound Tax Advisor. Currenty &#64;RVW, CPA, CFA, Former &#64;JPMorgan, &#64;Deloitte</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Jeff Retchman</h1>
        <p>Contracts Law &#64;Google, Former Legal &#64;Grooveshark</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Toshi Masubuchi</h1>
        <p>Operations/Finance Advisor. Finance &#64;Tanium, Former Sr. Associatte &#64;Deloitte</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo " 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Sam Yam</h1>
        <p>Co-Founder &#64; CTO &#64;Patreon (450M valuation)</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo" 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Anastasia Andrianova</h1>
        <p>Co-Founder &#64; Managing Director &#64;Apiro Capital, Advisory Board &#64;Openmaker.eu, Former &#64;Lehman, &#64;Oxford</p>
      </div>  
    </div>

    <div class="advisor-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay" 
              style="background-image: url('assets/images/profile/jeff.png');">                
            </div>
          </div>
        </div>
      </div>
      <div class="advisor-blurb">
        <h1>Richard Ma</h1>
        <p>Co-Founder &#64; CEO &#64;Quantstamp, Former Algo Trader, Crypto Fund Manager</p>
      </div>  
    </div>

  </div>
  <div class="advisor-container-desktop">

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo gold">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo advisor-blurb-hex"> 
            <h1>Victor Santos</h1>
            <p>Co-Founder &amp; CEO &#64;AirToken / AirFox, Former &#64;Google, &#64;UCBerkeley</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo light-gold">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex"> 
            <h1>Can Kisagun</h1>  
            <p>Co-Founder &amp; CPO &#64;Enigma, Former &#64;McKinsey, &#64;MIT</p>             
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex"> 
            <h1>Min Kim</h1>             
            <p>Chief of Staff &#64; Civic, Former &#64;Tim Draper, &#64;Lumia Capital, &#64;Dartmouth</p>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo grey">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo darker-grey">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Kevin Zhou</h1>   
            <p>Co-Founder &#64;Galois Capital, Advisor &#64;Enigma, Former Head of Trading &#64;Kraken, &#64;UCBerkeley</p>             
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Richard Li</h1>
            <p>Co-Founder &#64;AlphaBlock Investments, Advisor &#64;Multiplied.io</p>              
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo dark-gold">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex"> 
            <h1>Stephen Seo</h1>
            <p>Inbound Tax Advisor. Currenty &#64;RVW, CPA, CFA, Former &#64;JPMorgan, &#64;Deloitte</p>               
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">  
            <h1>Jeff Rechtman</h1>        
            <p>Contracts Law &#64;Google, Former Legal &#64;Grooveshark</p>                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/sam.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Toshi Masubuchi</h1>
            <p>Operations/Finance Advisor. Finance &#64;Tanium, Former Sr. Associatte &#64;Deloitte</p>          
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/stephen.png');">               
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo dark-grey">       
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/profile/stephen.png');">               
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">          
            <h1>Anastasia Andrianova</h1>
            <p>Co-Founder &amp; Managing Director &#64;Apiro Capital, Advisory Board &#64;Openmaker.eu, Former &#64;Lehman, &#64;Oxford</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo advisor-blurb-hex">
            <h1>Richard Ma</h1>
            <p>Co-Founder &amp; CEO &#64;Quantstamp, Former Algo Trader, Crypto Fund Manager</p>              
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">      
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
