body {
  font-family: 'Helvetica';
  margin: 0;
  padding: 0;
  /* opacity: 0;
  transition: opacity 1.5s; */
  background: #37474F;
}

.bn-main {
	height: 100%;
	width: 100vw;
  min-height: 600px;
}

.bn-main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bn-main-background-comb {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}