.bee-nav-container {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.bee-nav-links-container {
    width: 40vw; 
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

