<section class="hero">
  <div class="hero-container">
    <section class="hero-content">
      <div class="hero-logo" [class.disappear]="disappear"></div>
      <h1 class="main-head">The Bee Token</h1>
      <h2>Future of Home Sharing with Bee Protocols</h2>
      <p>
        0% Commission Home Sharing Platform.<br>
      </p>
      <a class="whitepaper" [routerLink]="['/whitepaper']" target="_blank"><button>Read our whitepaper</button></a>
      <div class="hero-social-links">
        <a href="https://medium.com/@thebeetoken" target="_blank">
          <img src="/assets/svg/medium-gold.svg" alt="medium">
        </a>
        <a href="https://twitter.com/thebeetoken" target="_blank">
          <img src="/assets/svg/twitter-gold.svg" alt="twitter">
        </a>
        <a href="https://t.me/beetoken" target="_blank">
          <img src="/assets/svg/telegram-gold.svg" alt="telegram">
        </a>
        <a href="https://www.facebook.com/thebeetoken" target="_blank">
          <img src="/assets/svg/facebook-gold.svg" alt="facebook">
        </a>
      </div>
    </section>
    <section class="about-content">
      <div id="about"></div>
      <div class="about-bee-trail">
        <div class="about-bee-trail-icon"></div>
      </div>
      <div class="about-bee-logo-container">
        <img src="/assets/images/hero/about-bee-icon-white.png" alt="bee-icon">
      </div>
      <h1>About Bee</h1>
      <p>
	We are a seasoned team of former employees from Google, Facebook, Uber, and Civic reimagining the sharing economy.<br>
  Together, we are building Beenest and the Bee Protocols on the Ethereum blockchain.
        <br>
      </p>
      <div class="about-bee-trail-small"></div>
    </section>
    <section class="more-info">
      <div class="more-info-wrapper">
        <div class="more-info-container">
          <div class="more-info-text">
            <h1>Beenest</h1>
            <p>
Beenest is a home sharing platform for hosts to list their homes and for guests to find accommodations. 
Beenest rewards users with network incentives, commission-free transactions, and security unrivaled in the home sharing industry. 
            </p>
          </div>
          <img class="more-info-image" src="/assets/images/hero/what-is-bee-first.png">
        </div>
  
        <div class="more-info-container">
          <div class="more-info-trail"></div>
          <div class="more-info-text">
            <h1>Bee Protocols</h1>
            <p>
The Bee Protocols are a set of Ethereum smart contracts providing developers the tools to rapidly launch new decentralized applications. 
By utilizing industry proven Bee Protocols, developers can expect faster development cycles, reduced integration costs, and an existing user base.
            </p>
          </div>
          <img class="more-info-image" src="/assets/images/hero/what-is-bee-second.png">
        </div>
  
        <div class="more-info-container">
          <div class="more-info-text">
            <h1>Bee Token</h1>
            <p>
              The Bee Token is the cryptocurrency that fuels the Beenest platform and the Bee Protocols.
            </p>
          </div>
          <img class="more-info-image" src="/assets/images/hero/what-is-bee-third.png">
        </div>
      </div>
    </section>
  </div>
</section>
