.token-supply-container {
  background-color: #263238;
  min-height: 700px;
  height: auto;
  width: 100vw;
  box-sizing: border-box;
  padding-top: 14vh;
  padding-bottom: 10vh;
  position: relative;

  h3 {
    color: #f5bd2f;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 12px;
  }

  div {
    text-align: center;
    display: block;
    height: 30px;
    height: auto;
    padding: 0;
    margin: 0 0 18px;
    color: #fff;

    h5 {
      font-size: 19px;
      font-weight: 500;
      margin: 0 4px 0;

      @media (min-width: 768px) { display: inline-block; }
    }

    span {
      font-weight: 100;
      font-size: 19px;
    }
  }
}

.chart-container {
  position: relative;
  width: 300px;
  min-height: 350px;
  height: auto;
  box-sizing: border-box;
  padding-top: 110px !important;
  margin: 0 auto !important;

  @media (min-width: 768px) {
    width: 650px;
    height: auto;
    padding-top: 50px !important;
  }
}

#canvasChart {
  width: 100%;
  margin: 0 auto;
  position: relative;
  transition: all .15s ease-in-out;

  @media (min-width: 768px) {
    width: 550px;
    height: auto;
  }
}

.token-supply--legend-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .legend-label {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    @media (min-width: 768px) { font-size: 16px; }
    @media (min-width: 1025px) { font-size: 18px; }
  }

  .legend-percent {
    color: #e4b330;
    font-size: 16px;
    @media (min-width: 768px) { font-size: 18px; }
    @media (min-width: 1025px) { font-size: 20px; }
  }

  .pointer {
    height: 1px;
    max-height: 1px;
    width: 70px;
    background-color: #e4b330;
    z-index: 1;
    @media (min-width: 768px) { width: 175px; }
    @media (min-width: 1025px) { width: 180px; }
  }

  .pointer-dot {
    width: 6px;
    min-width: 6px;
    max-width: 6px;
    height: 6px;
    min-height: 6px;
    max-height: 6px;
    background-color: #e4b330;
    border-radius: 50%;
  }
}

.transition--all--ease-in-out {
  transition: all .15s ease-in-out;
}

.position--absolute {
  position: absolute;
  z-index: 2;
}

// Team Advisors tooltip/legend style
#teamAdvisors--label {
  bottom: 35px;
  left: 7px;

  @media (min-width: 768px) { bottom: -30px; }
}
#teamAdvisors--percent {
  bottom: 54px;
  left: 7px;

  @media (min-width: 768px) { bottom: -1px; }
}
@media (min-width: 1025px) {
  #teamAdvisors--label, #teamAdvisors--percent { left: -20px; }
}
#teamAdvisors--pointer {
  bottom: 82px;
  left: 47px;
  @media (min-width: 768px) { bottom: 34px; }

  @media (min-width: 1025px) {
    bottom: 39px;
    left: 27px;
  }
}
#teamAdvisors--pointer-dot {
  bottom: 79px;
  left: 47px;
  @media (min-width: 768px) { bottom: 31px; }

  @media (min-width: 1025px) {
    bottom: 36px;
    left: 21px;
  }
}

// Community Reserve tooltip/legend style
#communityReserve--label {
  bottom: 35px;
  right: 7px;

  @media (min-width: 768px) { bottom: -30px; }
}
#communityReserve--percent {
  bottom: 54px;
  right: 5px;

  @media (min-width: 768px) { bottom: -1px; }
}
@media (min-width: 1025px) {
  #communityReserve--label, #communityReserve--percent { right: -27px; }
}
#communityReserve--pointer {
  bottom: 82px;
  right: 50px;
  @media (min-width: 768px) { bottom: 34px; }

  @media (min-width: 1025px) {
    bottom: 39px;
    right: 27px;
  }
}
#communityReserve--pointer-dot {
  bottom: 79px;
  right: 50px;
  @media (min-width: 768px) { bottom: 31px; }

  @media (min-width: 1025px) {
    bottom: 37px;
    right: 24px;
  }
}

// Company Reserve tooltip/legend style
#companyReserve--label {
  bottom: 210px;
  left: 10px;

  @media (min-width: 768px) { bottom: 190px; }
}
#companyReserve--percent {
  bottom: 180px;
  left: 10px;

  @media (min-width: 768px) { bottom: 215px; }
}
@media (min-width: 1025px) {
  #companyReserve--label, #companyReserve--percent { left: -20px; }
}
#companyReserve--pointer {
  bottom: 208px;
  left: 50px;

  @media (min-width: 768px) {
    bottom: 250px;
    left: 52px;
  }

  @media (min-width: 1025px) {
    bottom: 255px;
    left: 30px;
  }
}
#companyReserve--pointer-dot {
  bottom: 205px;
  left: 50px;

  @media (min-width: 768px) {
    bottom: 247px;
    left: 52px;
  }

  @media (min-width: 1025px) {
    bottom: 253px;
    left: 28px;
  }
}

// Public Sale tooltip/legend style
#tokenDistribution--label {
  bottom: 210px;
  right: 7px;

  @media (min-width: 768px) { bottom: 190px; }
}
#tokenDistribution--percent {
  bottom: 180px;
  right: 7px;

  @media (min-width: 768px) { bottom: 215px; }
}
@media (min-width: 1025px) {
  #tokenDistribution--label, #tokenDistribution--percent { right: -27px; }
}
#tokenDistribution--pointer {
  bottom: 208px;
  right: 50px;

  @media (min-width: 768px) {
    bottom: 249px;
    right: 52px;
  }

  @media (min-width: 1025px) {
    bottom: 255px;
    right: 30px;
  }
}
#tokenDistribution--pointer-group {
  display: none !important;
  bottom: 158px;
  right: 65px;
  height: 75px !important;
  width: 15px;
  border: 1px solid #e4b330;
  border-left: none !important;
  background-color: #263238;
  z-index: 2;

  @media (min-width: 768px) {
    bottom: 180px;
    right: 120px;
    height: 145px !important;
    width: 30px;
  }
}
#tokenDistribution--pointer-dot {
  bottom: 205px;
  right: 50px;

  @media (min-width: 768px) {
    bottom: 247px;
    right: 52px;
  }

  @media (min-width: 1025px) {
    bottom: 253px;
    right: 27px;
  }
}
