@import "token-distribution-chart.scss";

.token-distribution-container {
  height: auto;
  width: 100vw;
  background-color: #37474f;
  padding: 7vh 10vw;
  box-sizing: border-box;

  h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #f0eeda;
    margin: 0 auto;
    margin-bottom: 5vh;

    @media (max-width: 1025px) {
      width: 400px;
      margin-bottom: 4vh;
    }

    @media (max-width: 768px) {
      width: 250px;
      margin-bottom: 3vh;
    }
  }
}

.token-distribution-table {
  min-height: 70vh;
  height: auto;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;

  .table-head {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
  }

  .table-head h4 {
    font-size: 20px;
    color: #edb72d;
    text-align: center;
  }

  .table-head h5 {
    font-size: 15px;
    color: #fff;
    text-align: center;
  }

  .table-body {
    width: 100%;
    min-height: 80%;
    height: auto;
    border-top: 2px solid #79848a;
    border-bottom: 2px solid #79848a;
    display: flex;
    flex-direction: column;

    .row {
      min-height: 80px;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .row:nth-child(even) { background-color: #4b5960; }

    .row h5 {
      font-size: 12px;
      font-weight: 300;
      color: #fff;
      text-align: center;
      margin: 0;
      margin-bottom: .5em;

      @media (min-width: 768px) { font-size: 13px; }
      @media (min-width: 1025px) { font-size: 15px; }
    }

    .row h4 {
      font-size: 13px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      margin: 0;

      @media (min-width: 768px) { font-size: 15px; }
      @media (min-width: 1025px) { font-size: 16.5px; }
    }
  }
}

.row .column {
  width: 33.33333%;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em .75em;
  box-sizing: border-box;
}
