<!--
Using <div> instead of <table> because <table> had conflicting default styles
-->

<div class="token-distribution-container">
  <h3>Token Distribution Details</h3>
  <div class="token-distribution-table">
    <div class="table-head row">
      <div class="column">
        <h4>Private Presale</h4>
        <h5>Status</h5>
        <h5><strong>Sold Out</strong></h5>
      </div>
      <div class="column">
        <h4>Public Presale</h4>
        <h5>Status</h5>
        <h5><strong>TBD</strong></h5>
      </div>
      <div class="column">
        <h4>Public Token</h4>
        <h5>Status</h5>
        <h5><strong>TBD</strong></h5>
      </div>
    </div>

    <div class="table-body">
      <div class="row">
        <div class="column">
          <h5>Hard Cap</h5>
          <h4>$5M</h4>
        </div>
        <div class="column">
          <h5>Hard Cap</h5>
          <h4>$5M</h4>
        </div>
        <div class="column">
          <h5>Hard Cap</h5>
          <h4>$5M</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5>Contribution Denomination</h5>
          <h4>ETH/USD</h4>
        </div>
        <div class="column">
          <h5>Contribution Denomination</h5>
          <h4>ETH</h4>
        </div>
        <div class="column">
          <h5>Contribution Denomination</h5>
          <h4>ETH</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5>Participants</h5>
          <h4>Strategic Partners</h4>
        </div>
        <div class="column">
          <h5>Participants</h5>
          <h4>Accredited Investors</h4>
        </div>
        <div class="column">
          <h5>Participants</h5>
          <h4>Non-US Participants</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5>Period</h5>
          <h4>December 6 - December 15</h4>
        </div>
        <div class="column">
          <h5>Period</h5>
          <h4>January 2 - January 19</h4>
        </div>
        <div class="column">
          <h5>Period</h5>
          <h4>January 31 - February 28</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5></h5>
          <h4></h4>
        </div>
        <div class="column">
          <h5>Min Contribution Amount</h5>
          <h4>50 ETH</h4>
        </div>
        <div class="column">
          <h5>Min Contribution Amount</h5>
          <h4>0.1 ETH</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5></h5>
          <h4></h4>
        </div>
        <div class="column">
          <h5>Max Contribution Amount</h5>
          <h4>50 ETH</h4>
        </div>
        <div class="column">
          <h5>Max Contribution Amount</h5>
          <h4>Determined by # of Registrants</h4>
        </div>
      </div>
    </div> <!-- Close .table-body -->
  </div> <!-- Close .token-distribution-table -->
</div> <!-- Close #token-distribution-container -->

<div class="token-supply-container">
  <h3>Token Supply</h3>
  <div>
    <h5>Total Supply:</h5>
    <span>500 million BEE</span>
  </div>
  <div>
    <h5>Target Public Sale Amount:</h5>
    <span>$15 million</span>
  </div>

  <div class="chart-container">
    <section class="token-supply--legend-container">
      <!-- Team & Advisors Legend -->
      <h6 id="teamAdvisors--label" class="transition--all--ease-in-out position--absolute hide-mobile legend-label">{{ teamAndAdvisors }}</h6>
      <h6 id="teamAdvisors--percent" class="transition--all--ease-in-out position--absolute hide-mobile legend-percent">15%</h6>
      <div id="teamAdvisors--pointer" class="transition--all--ease-in-out position--absolute hide-mobile pointer"></div>
      <div id="teamAdvisors--pointer-dot" class="transition--all--ease-in-out position--absolute hide-mobile pointer-dot"></div>

      <!-- Copmany Reserve Legend -->
      <h6 id="companyReserve--label" class="transition--all--ease-in-out position--absolute hide-mobile legend-label">{{ companyReserve }}</h6>
      <h6 id="companyReserve--percent" class="transition--all--ease-in-out position--absolute hide-mobile legend-percent">25%</h6>
      <div id="companyReserve--pointer" class="transition--all--ease-in-out position--absolute hide-mobile pointer"></div>
      <div id="companyReserve--pointer-dot" class="transition--all--ease-in-out position--absolute hide-mobile pointer-dot"></div>

      <!-- Public Sale Legend -->
      <h6 id="publicSale--label" class="transition--all--ease-in-out position--absolute hide-mobile legend-label">{{ publicSale }}</h6>
      <h6 id="publicSale--percent" class="transition--all--ease-in-out position--absolute hide-mobile legend-percent">30%</h6>
      <div id="publicSale--pointer" class="transition--all--ease-in-out position--absolute hide-mobile pointer"></div>
      <div id="publicSale--pointer-group" class="transition--all--ease-in-out position--absolute hide-mobile"></div>
      <div id="publicSale--pointer-dot" class="transition--all--ease-in-out position--absolute hide-mobile pointer-dot"></div>

      <!-- Community Reserve Legend -->
      <h6 id="communityReserve--label" class="transition--all--ease-in-out position--absolute hide-mobile legend-label">{{ communityReserve }}</h6>
      <h6 id="communityReserve--percent" class="transition--all--ease-in-out position--absolute hide-mobile legend-percent">30%</h6>
      <div id="communityReserve--pointer" class="transition--all--ease-in-out position--absolute hide-mobile pointer"></div>
      <div id="communityReserve--pointer-dot" class="transition--all--ease-in-out position--absolute hide-mobile pointer-dot"></div>
    </section> <!-- Close .token-supply- -legend-container -->

    <canvas id="canvasChart"></canvas>
  </div> <!-- Close #chart-container -->
</div> <!-- Close #stoken-supply-container" -->
