<!--
Using <div> instead of <table> because <table> had conflicting default styles
-->

<div id="token-distribution-container">
  <h3>Token Distribution Details</h3>
  <div class="token-distribution-table">
    <div class="table-head row">
      <div class="column">
        <h4>Private Presale</h4>
        <h5>???</h5>
      </div>
      <div class="column">
        <h4>Public Presale</h4>
        <h5>???</h5>
      </div>
      <div class="column">
        <h4>Public Token</h4>
        <h5>???</h5>
      </div>
    </div>

    <div class="table-body">
      <div class="row">
        <div class="column">
          <h5>Hard Cap</h5>
          <h4>???</h4>
        </div>
        <div class="column">
          <h5>Hard Cap</h5>
          <h4>???</h4>
        </div>
        <div class="column">
          <h5>Hard Cap</h5>
          <h4>???</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5>Contributions Received in ETH/USD</h5>
          <h4>?</h4>
        </div>
        <div class="column">
          <h5>Contributions Received in ETH/USD</h5>
          <h4>?</h4>
        </div>
        <div class="column">
          <h5>Contributions Received in ETH/USD</h5>
          <h4>?</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5>Participants</h5>
          <h4>???</h4>
        </div>
        <div class="column">
          <h5>Participants</h5>
          <h4>???</h4>
        </div>
        <div class="column">
          <h5>Participants</h5>
          <h4>???</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5>???</h5>
          <h4>???</h4>
        </div>
        <div class="column">
          <h5>???</h5>
          <h4>???</h4>
        </div>
        <div class="column">
          <h5>???</h5>
          <h4>???</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5>Period</h5>
          <h4>December 6 - December 15</h4>
        </div>
        <div class="column">
          <h5>Period</h5>
          <h4>January 2 - January 10</h4>
        </div>
        <div class="column">
          <h5>Period</h5>
          <h4>January 31 - February 28</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5></h5>
          <h4></h4>
        </div>
        <div class="column">
          <h5>Min Contribution Amount</h5>
          <h4>50 ETH</h4>
        </div>
        <div class="column">
          <h5>Min Contribution Amount</h5>
          <h4>1000 ETH</h4>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h5></h5>
          <h4></h4>
        </div>
        <div class="column">
          <h5>Max Contribution Amount</h5>
          <h4>0.1 ETH</h4>
        </div>
        <div class="column">
          <h5>Max Contribution Amount</h5>
          <h4>Determined by # of Registrants</h4>
        </div>
      </div>
    </div> <!-- Close .table-body -->
  </div> <!-- Close .token-distribution-table -->
</div> <!-- Close #token-distribution-container -->
