.bee-team {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #37474F;
  padding: 56px 0;

  @media (min-width: 768px) {
    padding-top: 131px;
  }

  &:before {
    background: linear-gradient(180deg,#37474F 0,transparent);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 2;
    pointer-events: none;
  }

  &:after {
    background: linear-gradient(0deg,#37474F 0,transparent);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 2;
    pointer-events: none;
  }
}

.bee-team-honeycomb-desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('http://res.cloudinary.com/duettwoxj/image/upload/v1505713324/honeycomb-team-mobile_wj3pzc.png');
  background-position: center center;
  background-repeat: repeat-y;
  background-size: contain;
  z-index: 1;

  @media (min-width: 768px) {
    background-position: center center;
    background-repeat: repeat-y;
    background-size: contain;
    background: url('http://res.cloudinary.com/duettwoxj/image/upload/v1505639529/honeycomb-team_yjj77l.png');
  }
}

.bee-team-team,
.bee-team-advisors-team {
  position: relative;
  font-weight: 600;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  z-index: 3;
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 42px;
    line-height: 52px;
  }
}

.bee-team-blurb,
.bee-team-advisors-blurb {
  position: relative;
  width: 206px;
  font-weight: 200;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  z-index: 3;
  margin: 0;
  text-align: center;
  margin-top: 24px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    width: 383px;
  }
}

.bee-team-advisors-team {
  margin-top: 50px;
}

.bee-team-advisors-text-container {
  position: relative;
}

.bee-scroll-block {
  position: absolute;
  height: 100px;
  width: 100%;
  top: -100px;
  left: 0;
  right: 0;
}