<div class="email-bar-container">
  <a class="telegram-icon" href="https://t.me/beetoken" target="_blank" (click)="closeTelegramBarButton()">
    <img src="/assets/svg/telegram-blue.svg" alt="telegram">
  </a>
  <h2>Join our Telegram channel &amp; chat with the Bee team and a hive of other Beethusiasts!</h2>
  <a href="https://t.me/beetoken" target="_blank" (click)="closeTelegramBarButton()"><button>Join Telegram Chat</button></a>
</div>
<div class="exit" (click)="closeEmailBar()">
  <img src="/assets/svg/cross.svg">
</div>