<header>
  <div class="header-icon">
    <a href="#"><div class="header-icon-inner"></div></a>
  </div>
</header>
<section class="presale">
  <div class="header">
    <h1>Presale Address</h1>
  </div>
  <div class="main">
    <div class="content">
      <div class="meta">
        <h2>Please Note:</h2>
        <p>
          Only send your contribution to this address AFTER you received confirmation from <span>presale_registration@thebeetoken.com</span> that you are eligible to participate in the Bee Token Presale. Any funds sent to this address without having received a confirmation may be lost.
        </p>
        <h3>The Bee Token Presale Funding Address:</h3>
        <div class="address">
          <h2>0xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h2>
        </div>
        <h4>WARNING: Communication of any other address should be considered invalid.</h4>
      </div>
      <hr>
      <div class="video">
        <h2>Please be sure to verify this address through this video of our co-founder and CEO, Jonathan Chou :</h2>
        <iframe src="https://www.youtube.com/embed/J62PS7jbliU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="background"></div>
</section>
<bee-footer></bee-footer>