.bee-hero {
  position: relative;
  width: 100%;
  background: #37474F;
  height: 1280px;

  @media (min-width: 768px) {
    height: 902px;
  }

  @media (min-width: 1025px) {
    height: 1502px;
  }
}

.bee-hero-background-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://res.cloudinary.com/duettwoxj/image/upload/v1505625214/hero-background-desktop_e1pecn.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bee-hero-honeycomb-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://res.cloudinary.com/duettwoxj/image/upload/v1505625793/honeycomb-web-desktop_eliozt.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}

.bee-hero-margin-block {
  width: 100%;
  height: 56px;
  pointer-events: none;

  @media (min-width: 768px) {
    height: 70px;
  }
}

.bee-hero-container-desktop {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: relative;
    height: 832px;
    width: 600px;
    margin: auto;
  }

  @media (min-width: 1025px) {
    width: 1108px;
    height: 1432px;
  }
}

.bee-hero-container-mobile {
  position: relative;

  @media (min-width: 768px) {
    display: none;  
  }
}

.bee-hero-background-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('https://res.cloudinary.com/duettwoxj/image/upload/v1505682636/hero-background-mobile_wsdnby.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bee-hero-space-mobile-container {
  @media (max-width: 767px) {
    height: 184px;
    background: transparent;
  }
}