<section class="partners">
  <h1>Partners</h1>
  <div class="wrapper partners-content">
    <div class="jar"></div>
    <div id="partner-origin" class="partner-logo"></div>
    <div id="partner-connext" class="partner-logo"></div>
    <div id="partner-kudos" class="partner-logo"></div>
  </div>

  <ul class="partners-logos">
    <div id="partner-0chain" class="partner-logo"></div>
    <div id="partner-request" class="partner-logo"></div>
    <div id="partner-rentivo" class="partner-logo"></div>
  </ul>
</section>
