<section class="partners">
  <h1>Partners</h1>
  <div class="wrapper partners-content">
    <div class="jar"></div>
    <div id="partner-origin" class="partner-logo"><a href="https://www.originprotocol.com/" target="_blank"></a></div>
    <div id="partner-connext" class="partner-logo"><a href="https://connext.network/" target="_blank"></a></div>
    <div id="partner-kudos" class="partner-logo"><a href="https://www.kudosproject.com/" target="_blank"></a></div>
  </div>

  <ul class="partners-content-no-top-padding">
    <div id="partner-0chain" class="partner-logo"><a href="https://0chain.net/" target="_blank"></a></div>
    <div id="partner-request" class="partner-logo"><a href="https://request.network/" target="_blank"></a></div>
    <div id="partner-rentivo" class="partner-logo"><a href="https://www.rentivo.com/" target="_blank"></a></div>
  </ul>
</section>
