<section class="roadmap">
  <div id="roadmap"></div>
  <div class="roadmap-city"></div>
  <div class="roadmap-container">
    <div class="roadmap-bee-trail">
      <div class="roadmap-bee-icon"></div>
    </div>
    <div class="title-container">
      <h1>Roadmap</h1>
    </div>
    <div class="timeline-container">
      <div class="timeline">
        <h2>Q3 2017 — pre-ICO</h2>
        <p>
          Completed Whitepaper
          <br>
          Private Alpha Prototype</p>
      </div>
      <div class="timeline">
        <h2>Q4 2017 — ICO</h2>
        <p>
          Public Beta Prototype
          <br>
          Operational in SF
          <br>
          Payment options include ETH, BTC, and USD
          <br>
          Payouts in Bee Tokens
        </p>
      </div>
      <div class="timeline">
        <h2>Q1 2018</h2>
        <p>
          Release of MVP
          <br>
          Operational in SF, NYC, and LA
          <br>
          Payout options include ETH, BTC, and USD
          <br>
          Inhouse KYC Identify Verification System Alpha
          <br>
          State Channel / Side Chain Integration Testnet
        </p>
      </div>
      <div class="timeline">
        <h2>Q2 2018</h2>
        <p>
          Fully supporting LTC
          <br>
          Initial iOS/Android Support
          <br>
          Operational in Top 10 US Cities and the UK
          <br>
          US West Coast 10K Operational Swaps
        </p>
      </div>
      <div class="timeline">
        <h2>Q3-Q4 2018</h2>
        <p>
          Operational in Southeast Asia and major European cities
          <br>
          Real-time Decentralized Exchange Integration Alpha
          <br>
          State Channel / Side Chain Integration Mainnet
          <br>
          Begin Voting and Consensus for Conflict Resolution
        </p>
      </div>
      <div class="timeline">
        <h2>Q1 2019</h2>
        <p>
          Integrate Voting and Consensus for Conflict Resolution
          <br>
          Real-time Decentralized Exchange Integration for Production
        </p>
      </div>
    </div>
  </div>
</section>