.bee-footer {
  width: 100%;
  height: 200px;
  background: #37474F; }

.bee-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.8; }
  .bee-footer-container h1 {
    font-weight: 300;
    color: #90A4AE;
    font-size: 16px;
    line-height: 24px;
    margin: 0; }

.bee-footer-links {
  width: 215px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px; }
  @media (min-width: 768px) {
    .bee-footer-links {
      width: 327px;
      height: 40px; } }

.bee-footer-link-container {
  width: 24px;
  height: 24px;
  transition: all 0.25s ease-in-out; }
  @media (min-width: 768px) {
    .bee-footer-link-container {
      width: 40px;
      height: 40px; }
      .bee-footer-link-container:hover {
        opacity: 0.5; } }

.bee-footer-link-logo {
  width: 100%;
  height: 100%; }
.bee-team {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #37474F;
  padding: 56px 0; }
  @media (min-width: 768px) {
    .bee-team {
      padding-top: 72px; } }
  @media (min-width: 1025px) {
    .bee-team {
      padding-top: 131px; } }
  .bee-team:before {
    background: linear-gradient(180deg, #37474F 0, transparent);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 2;
    pointer-events: none; }
  .bee-team:after {
    background: linear-gradient(0deg, #37474F 0, transparent);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 2;
    pointer-events: none; }

.bee-team-honeycomb-desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://res.cloudinary.com/duettwoxj/image/upload/v1505713324/honeycomb-team-mobile_wj3pzc.png");
  background-position: center center;
  background-repeat: repeat-y;
  background-size: contain;
  z-index: 1; }
  @media (min-width: 768px) {
    .bee-team-honeycomb-desktop {
      background-position: center center;
      background-repeat: repeat-y;
      background-size: contain;
      background: url("http://res.cloudinary.com/duettwoxj/image/upload/v1505639529/honeycomb-team_yjj77l.png"); } }

.bee-team-team,
.bee-team-advisors-team {
  position: relative;
  font-weight: 600;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  z-index: 3;
  margin: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .bee-team-team,
    .bee-team-advisors-team {
      font-size: 42px;
      line-height: 52px; } }

.bee-team-blurb,
.bee-team-advisors-blurb {
  position: relative;
  width: 206px;
  font-weight: 200;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  z-index: 3;
  margin: 0;
  text-align: center;
  margin-top: 24px; }
  @media (min-width: 768px) {
    .bee-team-blurb,
    .bee-team-advisors-blurb {
      font-size: 16px;
      line-height: 24px;
      width: 383px; } }

.bee-team-advisors-team {
  margin-top: 50px; }

.bee-team-advisors-text-container,
.bee-team-team-text-container {
  position: relative; }

.bee-scroll-block {
  position: absolute;
  height: 100px;
  width: 100%;
  top: -100px;
  left: 0;
  right: 0; }

.bee-scroll-block-team {
  position: absolute;
  height: 100px;
  width: 100%;
  top: -150px;
  left: 0;
  right: 0; }
.bee-team-advisors {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 3; }
  @media (min-width: 768px) {
    .bee-team-advisors {
      width: 700px;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0;
      margin-left: -24px; } }
  @media (min-width: 1025px) {
    .bee-team-advisors {
      width: 898px;
      align-items: flex-start;
      justify-content: space-between; } }

.bee-team-advisors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 184px;
  height: 400px;
  margin-top: 42px; }
  @media (min-width: 768px) {
    .bee-team-advisors-container {
      display: flex;
      margin-top: 72px;
      margin-left: 24px; } }
  @media (min-width: 1025px) {
    .bee-team-advisors-container {
      display: block;
      height: 500px; } }

.bee-team-advisors-profile-container {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background: #B0BEC5;
  opacity: 0.5; }

.bee-team-advisors-name {
  font-weight: 600;
  color: #FFC107;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 36px; }
  @media (min-width: 1025px) {
    .bee-team-advisors-name {
      font-size: 16px;
      line-height: 24px;
      margin-top: 54px; } }

.bee-team-advisors-title {
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 2px;
  text-align: center; }
  @media (min-width: 1025px) {
    .bee-team-advisors-title {
      font-size: 16px;
      line-height: 24px;
      margin-top: 6px;
      text-align: left; } }

.bee-team-advisors-info {
  font-weight: 200;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 30px;
  text-align: center; }
  @media (min-width: 1025px) {
    .bee-team-advisors-info {
      font-size: 16px;
      line-height: 24px;
      text-align: left; } }
.bee-team-core {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 3; }
  @media (min-width: 768px) {
    .bee-team-core {
      width: 700px;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0;
      margin-left: -24px; } }
  @media (min-width: 1025px) {
    .bee-team-core {
      width: 898px;
      align-items: flex-start;
      justify-content: space-between; } }

.bee-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 184px;
  height: 400px;
  margin-top: 56px; }
  @media (min-width: 768px) {
    .bee-team-container {
      display: flex;
      margin-top: 72px;
      margin-left: 24px; } }
  @media (min-width: 1025px) {
    .bee-team-container {
      display: block;
      height: 500px; } }

.bee-team-profile-container {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background: #B0BEC5;
  opacity: 0.5; }

.bee-team-name {
  font-weight: 600;
  color: #FFC107;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 36px; }
  @media (min-width: 1025px) {
    .bee-team-name {
      font-size: 16px;
      line-height: 24px;
      margin-top: 54px; } }

.bee-team-title {
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 2px;
  text-align: center; }
  @media (min-width: 1025px) {
    .bee-team-title {
      font-size: 16px;
      line-height: 24px;
      margin-top: 6px;
      text-align: left; } }

.bee-team-info {
  font-weight: 200;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 30px;
  text-align: center; }
  @media (min-width: 1025px) {
    .bee-team-info {
      font-size: 16px;
      line-height: 24px;
      text-align: left; } }

.bee-team-social-links {
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px; }

.bee-team-social-link-container {
  width: 24px;
  height: 24px;
  transition: all 0.25s ease-in-out; }
  .bee-team-social-link-container:hover {
    opacity: 0.5; }

.bee-team-social-link {
  width: 100%;
  height: 100%; }
.bee-main-cta-form {
  width: 224px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (min-width: 768px) {
  .bee-main-cta-form {
    flex-direction: row;
    align-items: center;
    width: 450px; } }

@media (min-width: 1025px) {
  .bee-main-cta-form {
    width: 642px; } }

.bee-main-cta-email::-webkit-input-placeholder {
  font-size: 10px;
  font-weight: 300;
  color: #fff; }

@media (min-width: 768px) {
  .bee-main-cta-email::-webkit-input-placeholder {
    font-size: 12px; } }

@media (min-width: 1025px) {
  .bee-main-cta-email::-webkit-input-placeholder {
    font-size: 14px; } }

.bee-main-cta-email {
  font-size: 10px; }

@media (min-width: 768px) {
  .bee-main-cta-email {
    font-size: 12px; } }

@media (min-width: 1025px) {
  .bee-main-cta-email {
    font-size: 14px; } }

.bee-main-cta-form input {
  padding: 0 32px;
  width: 224px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 3em;
  color: #fff;
  line-height: 22px; }

@media (min-width: 768px) {
  .bee-main-cta-form input {
    padding: 0 49px;
    border: 2px solid #fff; } }

@media (min-width: 768px) {
  .bee-main-cta-form input {
    width: 300px;
    height: 50px; } }

@media (min-width: 1025px) {
  .bee-main-cta-form input {
    width: 490px;
    height: 64px; } }

.bee-main-cta-form input:focus {
  outline: 0;
  border-color: #aaa; }

.bee-main-cta-form button {
  width: 84px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 48px;
  background: #FFC107;
  color: #494C4D;
  cursor: pointer;
  font-size: 10px;
  font-weight: 300;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  border: 0;
  transition: all 0.35s ease-in-out;
  outline: 0;
  margin-top: 21px; }

@media (min-width: 768px) {
  .bee-main-cta-form button {
    width: 120px;
    height: 50px;
    font-size: 12px;
    margin-top: 0;
    margin-left: 32px; } }

@media (min-width: 1025px) {
  .bee-main-cta-form button {
    height: 64px;
    font-size: 14px;
    margin-top: 0;
    margin-left: 32px; } }

.bee-main-cta-form button:hover:enabled {
  background: #FFE082;
  outline: 0; }

.bee-main-cta-form button:focus {
  color: #fff;
  outline: 0; }

.bee-main-cta-form button:active {
  position: relative;
  top: 3px;
  outline: 0; }

.bee-main-cta-form button:disabled {
  opacity: 0.24;
  cursor: not-allowed; }
.bee-subscribe {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #263238; }
  @media (min-width: 768px) {
    .bee-subscribe {
      height: 300px; } }
  @media (min-width: 1025px) {
    .bee-subscribe {
      height: 440px; } }

.bee-subscribe-honeycomb-desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("http://res.cloudinary.com/duettwoxj/image/upload/v1505625793/honeycomb-web-desktop_eliozt.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  .bee-subscribe-honeycomb-desktop:before {
    background: linear-gradient(180deg, #263238 0, transparent);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    pointer-events: none; }

.bee-subscribe-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 224px;
  z-index: 20; }
  @media (min-width: 768px) {
    .bee-subscribe-container {
      display: block;
      width: 500px; } }
  @media (min-width: 1025px) {
    .bee-subscribe-container {
      width: 894px; } }
  .bee-subscribe-container h1 {
    font-weight: 200;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 24px;
    text-align: center; }
    @media (min-width: 768px) {
      .bee-subscribe-container h1 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 48px;
        text-align: left; } }
.bee-value-prop {
  height: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #263238; }
  @media (min-width: 768px) {
    .bee-value-prop {
      height: 400px; } }
  @media (min-width: 1025px) {
    .bee-value-prop {
      height: 520px; } }

.bee-value-prop-container {
  width: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .bee-value-prop-container {
      width: 700px;
      flex-direction: row; } }
  @media (min-width: 1025px) {
    .bee-value-prop-container {
      width: 897px;
      flex-direction: row; } }

.bee-value-prop-content {
  width: 184px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .bee-value-prop-content:not(:first-child) {
    margin-top: 56px; }
  @media (min-width: 768px) {
    .bee-value-prop-content {
      width: 150px;
      margin-top: 0; }
      .bee-value-prop-content:not(:first-child) {
        margin-top: 0; } }
  @media (min-width: 1025px) {
    .bee-value-prop-content {
      width: 184px; } }
  .bee-value-prop-content h1 {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    margin-top: 32px;
    text-align: center; }
    @media (min-width: 768px) {
      .bee-value-prop-content h1 {
        margin-top: 26px; } }
    @media (min-width: 1025px) {
      .bee-value-prop-content h1 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 34px; } }
  .bee-value-prop-content p {
    font-weight: 300;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    margin-top: 16px;
    text-align: center; }
    @media (min-width: 768px) {
      .bee-value-prop-content p {
        margin-top: 12px; } }
    @media (min-width: 1025px) {
      .bee-value-prop-content p {
        font-size: 16px;
        line-height: 24px; } }

.bee-value-prop-icon-container {
  width: 40px;
  height: 40px; }

.bee-value-prop-icon {
  width: 100%;
  height: 100%; }
.bee-hero {
  position: relative;
  width: 100%;
  background: #37474F;
  height: 1280px; }
  @media (min-width: 768px) {
    .bee-hero {
      height: 952px; } }
  @media (min-width: 1025px) {
    .bee-hero {
      height: 1552px; } }

.bee-hero-background-desktop {
  display: none; }
  @media (min-width: 768px) {
    .bee-hero-background-desktop {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("http://res.cloudinary.com/duettwoxj/image/upload/v1505625214/hero-background-desktop_e1pecn.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; } }

.bee-hero-honeycomb-desktop {
  display: none; }
  @media (min-width: 768px) {
    .bee-hero-honeycomb-desktop {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("http://res.cloudinary.com/duettwoxj/image/upload/v1505625793/honeycomb-web-desktop_eliozt.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1; } }

.bee-hero-margin-block {
  width: 100%;
  height: 56px;
  pointer-events: none; }
  @media (min-width: 768px) {
    .bee-hero-margin-block {
      height: 120px; } }

.bee-hero-container-desktop {
  display: none; }
  @media (min-width: 768px) {
    .bee-hero-container-desktop {
      display: block;
      position: relative;
      height: 832px;
      width: 600px;
      margin: auto; } }
  @media (min-width: 1025px) {
    .bee-hero-container-desktop {
      width: 1108px;
      height: 1432px; } }

.bee-hero-container-mobile {
  position: relative; }
  @media (min-width: 768px) {
    .bee-hero-container-mobile {
      display: none; } }

.bee-hero-background-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("http://res.cloudinary.com/duettwoxj/image/upload/v1505682636/hero-background-mobile_wsdnby.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 767px) {
  .bee-hero-space-mobile-container {
    height: 184px;
    background: transparent; } }
.bee-hero-about {
  position: relative;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 20; }
  @media (min-width: 768px) {
    .bee-hero-about {
      position: absolute;
      bottom: 0;
      right: 0;
      align-items: flex-start;
      justify-content: flex-start;
      width: 350px;
      height: 450px; } }
  @media (min-width: 1025px) {
    .bee-hero-about {
      width: 600px;
      height: 772px; } }

@media (min-width: 768px) {
  .bee-hero-about-container {
    padding: 42px 0 0 50px; } }

@media (min-width: 1025px) {
  .bee-hero-about-container {
    padding: 136px 0 0 132px; } }

.bee-hero-about-content {
  width: 206px; }
  @media (min-width: 768px) {
    .bee-hero-about-content {
      width: auto; } }
  .bee-hero-about-content h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: #37474F;
    margin: 0;
    text-align: center; }
    @media (min-width: 768px) {
      .bee-hero-about-content h1 {
        width: 250px;
        font-size: 26px;
        line-height: 31px;
        text-align: left; } }
    @media (min-width: 1025px) {
      .bee-hero-about-content h1 {
        font-size: 42px;
        line-height: 52px; } }
  .bee-hero-about-content p {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #37474F;
    margin: 0;
    margin-top: 16px;
    text-align: center; }
    @media (min-width: 768px) {
      .bee-hero-about-content p {
        width: 262px;
        margin-top: 12px;
        text-align: left; } }
    @media (min-width: 1025px) {
      .bee-hero-about-content p {
        width: 300px;
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px; } }
  .bee-hero-about-content span {
    display: block;
    font-weight: 500;
    color: #37474F;
    font-size: 30px;
    line-height: 36px;
    margin-top: 32px;
    text-align: center; }
    @media (min-width: 1025px) {
      .bee-hero-about-content span {
        font-size: 42px;
        line-height: 52px;
        margin-top: 88px; } }
.bee-hero-cta {
  position: relative;
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #263238;
  z-index: 10; }
  @media (min-width: 768px) {
    .bee-hero-cta {
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      justify-content: flex-start;
      width: 350px;
      height: 450px; } }
  @media (min-width: 1025px) {
    .bee-hero-cta {
      width: 600px;
      height: 772px; } }

.bee-hero-cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .bee-hero-cta-container {
      display: block;
      padding: 42px 0 0 50px; } }
  @media (min-width: 1025px) {
    .bee-hero-cta-container {
      display: block;
      padding: 148px 0 0 107px; } }

.bee-hero-cta-logo-container {
  width: 71px;
  height: 89px; }
  @media (min-width: 1025px) {
    .bee-hero-cta-logo-container {
      width: 104px;
      height: 131px; } }

.bee-hero-cta-logo {
  width: 100%;
  height: 100%; }

.bee-hero-cta-content {
  position: relative;
  margin-top: 27px;
  width: 217px; }
  @media (min-width: 768px) {
    .bee-hero-cta-content {
      width: auto;
      margin-top: 24px; } }
  @media (min-width: 1025px) {
    .bee-hero-cta-content {
      margin-top: 48px; } }
  .bee-hero-cta-content h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    text-align: center; }
    @media (min-width: 768px) {
      .bee-hero-cta-content h1 {
        width: 250px;
        font-size: 26px;
        line-height: 31px;
        text-align: left; } }
    @media (min-width: 1025px) {
      .bee-hero-cta-content h1 {
        width: 400px;
        font-size: 42px;
        line-height: 52px; } }
  .bee-hero-cta-content p {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    margin: 0;
    margin-top: 32px;
    text-align: center; }
    @media (min-width: 768px) {
      .bee-hero-cta-content p {
        width: 262px;
        margin-top: 12px;
        text-align: left; } }
    @media (min-width: 1025px) {
      .bee-hero-cta-content p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 24px; } }
  .bee-hero-cta-content:before {
    content: '';
    position: absolute;
    height: 21px;
    width: 6px;
    background: #FFC107;
    left: -5px;
    top: 7px; }
    @media (min-width: 768px) {
      .bee-hero-cta-content:before {
        height: 29px;
        width: 8px;
        left: -27px;
        top: 14px; } }

.bee-hero-cta-button {
  width: 200px;
  height: 48px;
  background: #FFC107;
  border: none;
  border-radius: 3em;
  color: #000;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  margin-top: 32px;
  transition: all 0.25s ease-in-out;
  outline: 0;
  cursor: pointer; }
  @media (min-width: 768px) {
    .bee-hero-cta-button {
      width: 200px;
      height: 50px;
      margin-top: 24px; } }
  @media (min-width: 1025px) {
    .bee-hero-cta-button {
      width: 240px;
      height: 64px;
      font-size: 14px;
      line-height: 22px;
      margin-top: 48px; } }
  .bee-hero-cta-button:hover {
    background: #fff;
    color: #263238; }
.bee-header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 100; }
  @media (min-width: 768px) {
    .bee-header-container {
      height: 120px;
      padding: 0 40px; } }

.bee-header-logo-container {
  width: 84px;
  height: 24px; }
  @media (min-width: 768px) {
    .bee-header-logo-container {
      width: 139px;
      height: 40px; } }

.bee-header-logo {
  width: 100%;
  height: 100%; }

.bee-header-links-container {
  display: none; }
  @media (min-width: 768px) {
    .bee-header-links-container {
      display: block; } }

.bee-header-link {
  font-weight: 600;
  color: #90A4AE;
  font-size: 16px;
  line-height: 24px;
  padding: 0 20px;
  text-decoration: none;
  transition: color 0.35s ease-in-out; }
  .bee-header-link:hover {
    color: #455A64; }

.bee-header-whitepaper-button {
  padding: 0 40px;
  width: 176px;
  height: 56px;
  border: 1px solid #90A4AE;
  background: transparent;
  border-radius: 3em;
  color: #B0BEC5;
  font-size: 16px;
  line-height: 24px;
  margin-left: 28px;
  font-weight: 600;
  transition: all 0.35s ease-in-out;
  outline: 0; }
  .bee-header-whitepaper-button:hover {
    color: #455A64;
    border: 1px solid #455A64; }

/*# sourceMappingURL=style.css.map*/