<section class="team">
  <div id="team"></div>
  <div class="header">
    <h1>Team</h1>
    <p>Not powered by Honey, but by a talented team of engineers from Google and Uber.</p>
  </div>
  <div class="team-container-mobile" [class.open]="isExpanded">

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216575/jon_cefutj.png');">
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Jonathan Chou</h1>
        <h2>Co-founder &amp; CEO</h2> 
        <p>Former Lead &#64;Uber, Security &amp; Fraud. Passionate about Cryptocurrency since 2012</p>
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216556/tony_g6ozh9.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Tony Tran</h1>
        <h2>Co-founder &amp; CTO</h2> 
        <p>Former Engineer &#64;Uber, Former Engineer &#64;bizo (Acq. By Linkedin), Founder &#64;SFMachineLearn</p> 
      </div>   
    </div> 
    
    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216545/jordan_jpvz0n.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Jordan Ong</h1>
        <h2>Head of Product</h2> 
        <p>Former Product &#64;Facebook for the past 7+ years</p>
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216557/ali_pdq15z.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Ali Ayyash</h1>
        <h2>Lead Engineer</h2> 
        <p>Former Lead Engineer &#64;Google Cloud, Former Lead &#64;AWS for 3+ years</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216574/michael_zezklj.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Michael Pak</h1>
        <h2>Technical Project Manager</h2> 
        <p>Engineer &#64;aA, Former Investment Banking Analyst &#64;IE, &#64;BerkeleyHaas</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216556/coco_p0x6k7.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Coco Liu</h1>
        <h2>Lead Designer</h2> 
        <p>Designer, Left Field Labs &#64;Google</p>
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216573/andy_m2eirn.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Andy Chou</h1>
        <h2>Lead Marketing</h2> 
        <p>Account Manager &#64;Criteo, Former Marketing Analyst &#64;Rakuten</p> 
      </div>   
    </div>  

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216556/rob_vebfwh.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Rob Peterson</h1>
        <h2>Smart Contract Engineer</h2> 
        <p>Former Data Scientist/Co-founder &#64;The Taste Institute</p> 
      </div>   
    </div>  

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216572/kevin_fdljfv.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Kevin Van</h1>
        <h2>Front End Engineer</h2> 
        <p>Engineer &#64;Bandai Namco Entertainment America</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216559/guocheng_jomuiy.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Guocheng Xie</h1>
        <h2>Smart Contract Engineer</h2> 
        <p>Engineer &#64;Uber</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508219990/miao_kew7eb.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Miao Yu</h1>
        <h2>Smart Contract Engineer</h2> 
        <p>Engineer &#64;Google, Former Engineer &#64;Uber</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508219994/bonnie_fcucmu.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Bonnie Qin</h1>
        <h2>Backend Engineer</h2> 
        <p>Engineer &#64;Google</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay"
              style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216576/george_bxsgin.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>George Perez</h1>
        <h2>Designer</h2> 
        <p>UI/UX Designer &#64;Bandai Namco Entertainment America</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo private-member-blurb">  
              <h1>Sean Moran (Neas)</h1>
              <h2>Marketing</h2>
              <h1>Sunny</h1>
              <h2>PR &amp; Marketing</h2>
              <h1>J Cooper</h1>
              <h2>Product</h2>
            </div>
          </div>
        </div>
      </div>  
    </div>

  </div>
  <button (click)="showMore()" *ngIf="!isExpanded">Show More Members</button>
  <div class="team-container-desktop">
    
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216575/jon_cefutj.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo very-light-gold"></div>
        </div>
      </div>
    </div>


    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216556/tony_g6ozh9.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">  
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Jonathan Chou</h1>
            <h2>Co-founder &amp; CEO</h2> 
            <p>Former Lead &#64;Uber, Security &amp; Fraud. Passionate about Cryptocurrency since 2012</p>          
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216545/jordan_jpvz0n.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo extremely-light-gold">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>


    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Tony Tran</h1>
            <h2>Co-founder &amp; CTO</h2> 
            <p>Former Engineer &#64;Uber, Former Engineer &#64;bizo (Acq. By Linkedin), Founder &#64;SFMachineLearn</p>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo"
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216557/ali_pdq15z.png');">
          </div>  
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Jordan Ong</h1>
            <h2>Head of Product</h2>
            <p>Former Product &#64;Facebook for the past 7+ years</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo more-light-gold">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo gold">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216574/michael_zezklj.png');">               
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Ali Ayyash</h1>
            <h2>Lead Engineer</h2>
            <p>Former Lead Engineer &#64;Google Cloud, Former Lead &#64;AWS for 3+ years</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216556/coco_p0x6k7.png');">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Michael Pak</h1>
            <h2>Technical Project Manager</h2> 
            <p>Engineer &#64;aA, Former Investment Banking Analyst &#64;IE, &#64;BerkeleyHaas</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo very-dark-grey">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216573/andy_m2eirn.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Coco Liu</h1>
            <h2>Lead Designer</h2>
            <p>Designer, Left Field Labs &#64;Google</p>
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo very-light-white"> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216556/rob_vebfwh.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Andy Chou</h1>
            <h2>Lead Marketing</h2> 
            <p>Account Manager &#64;Criteo, Former Marketing Analyst &#64;Rakuten</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo dark-grey"></div>
        </div>
      </div>
    </div>


    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216572/kevin_fdljfv.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Rob Peterson</h1>
            <h2>Smart Contract Engineer</h2>
            <p>Former Data Scientist/Co-founder &#64;The Taste Institute</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo light-gold">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508219990/miao_kew7eb.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Kevin Van</h1>
            <h2>Front End Engineer</h2> 
            <p>Engineer &#64;Bandai Namco Entertainment America</p>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216559/guocheng_jomuiy.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo dark-gold">
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508219994/bonnie_fcucmu.png');">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Miao Yu</h1>
            <h2>Smart Contract Engineer</h2> 
            <p>Engineer &#64;Google, Former Engineer &#64;Uber</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Guocheng Xie</h1>
            <h2>Smart Contract Engineer</h2>
            <p>Engineer &#64;Uber</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container photo">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('https://res.cloudinary.com/dlvkxi2wx/image/upload/v1508216576/george_bxsgin.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>Bonnie Qin</h1>
            <h2>Backend Engineer</h2>
            <p>Engineer &#64;Google</p>
          </div>
        </div>
      </div>
    </div>

  
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo darkest-grey">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo team-blurb-hex">
            <h1>George Perez</h1>
            <h2>Designer</h2> 
            <p>UI/UX Designer &#64;Bandai Namco Entertainment America</p> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>

  
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container overlay">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo light-white">
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container text">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div class="hexagon-photo team-blurb-hex">
              <h1>Sean Moran (Neas)</h1>
              <h2>Marketing</h2> 
              <h1>Sunny</h1>
              <h2>PR &amp; Marketing</h2>
              <h1>J Cooper</h1>
              <h2>Product</h2> 
            </div>
          </div>
        </div>
      </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>