<section class="team">
  <div id="team"></div>
  <div class="header">
    <h1>Team</h1>
    <p>Not powered by Honey, but by a talented team of engineers from Google and Uber.</p>
  </div>
  <div class="team-container-mobile" [class.open]="isExpanded">

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/jon.png');">
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Jonathan Chou</h1>
        <h2>CEO &amp; Cofounder</h2> 
        <p>Former Lead &#64;Uber, Fraud &amp; Security</p>
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/tony.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Tony Tran</h1>
        <h2>CTO &amp; Cofounder</h2> 
        <p>Former Engineer &#64;Uber, Former Engineer &#64;bizo (Acq. By Linkedin), Founder &#64;SFMachineLearn</p> 
      </div>   
    </div>  

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/ali.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Ali Ayyash</h1>
        <h2>Lead Engineer</h2> 
        <p>Lead Cloud Engineer &#64;Google, Former &#64;Amazon AWS</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/coco.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Coco Liu</h1>
        <h2>Lead Designer</h2> 
        <p>Designer, Left Field Labs &#64;Google</p>
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/michael.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Michael Pak</h1>
        <h2>Technical Project Manager</h2> 
        <p>Former Investment Banking Analyst &#64;IE</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/andy.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Andy Chou</h1>
        <h2>Lead Marketing</h2> 
        <p>Account Manager &#64;Criteo, Former Marketing Analyst &#64;Rakuten</p> 
      </div>   
    </div>  

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/guocheng.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Guocheng Xie</h1>
        <h2>Smart Contract Engineer</h2> 
        <p>Engineer &#64;Uber</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/bonnie.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Bonnie Qin</h1>
        <h2>Backend Engineer</h2> 
        <p>Engineer &#64;Google</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/kevin.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Kevin Van</h1>
        <h2>Front End Engineer</h2> 
        <p>Engineer &#64;Bandai Namco Entertainment America</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/rob.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Rob Peterson</h1>
        <h2>Smart Contract Engineer</h2> 
        <p>Former Data Scientist/Co-Founder &#64;The Taste Institute</p> 
      </div>   
    </div>  

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/miao.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Miao Yu</h1>
        <h2>Smart Contract Engineer</h2> 
        <p>Engineer &#64;Google, Former Engineer &#64;Uber</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/angela.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Angela Yu</h1>
        <h2>Animator</h2> 
        <p>Art Director &#64;Yahoo</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div 
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/george.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>George Perez</h1>
        <h2>Designer</h2> 
        <p>UI/UX Designer &#64;Bandai Namco Entertainment America</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/rex.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Rex Chen</h1>
        <h2>Public Relations</h2> 
        <p>Cryptocurrency Investor, Former Sales Account Executive</p> 
      </div>   
    </div>  

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/lin.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Lin T</h1>
        <h2>Community Manager</h2> 
        <p>Customer Engagement Manager</p> 
      </div>
    </div>

    <div class="member-container">
      <div class="hexagon-container">		
        <div class="hexagon hexagon2">
          <div class="hexagon-inner">
            <div  
              class="hexagon-photo overlay"
              style="background-image: url('assets/images/profile/tommy.png');">              
            </div>
          </div>
        </div>
      </div>
      <div class="member-blurb">
        <h1>Tommy Koo</h1>
        <h2>Content Writer/Community Manage</h2> 
        <p>Community Manager</p>
      </div>
    </div>

  </div>
  <button (click)="showMore()" *ngIf="!isExpanded">Show More Members</button>
  <div class="team-container-desktop">

    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/jon.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/tony.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">  
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Jonathan Chou</h1>
              <h2>CEO &amp; Cofounder</h2> 
              <p>Former Lead &#64;Uber, Fraud &amp; Security</p> 
            </div>             
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/ali.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo colored"></div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Tony Tran</h1>
              <h2>CTO &amp; Cofounder</h2> 
              <p>Former Engineer &#64;Uber, Former Engineer &#64;bizo (Acq. By Linkedin), Founder &#64;SFMachineLearn</p> 
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo yellow">
            <div class="team-blurb-hex text">
              <h1>Learned how to speak French via DuoLingo</h1>
              <h1>Low carb marathoner</h1>
              <h1>Perpetually hungry</h1>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Ali Ayyash</h1>
              <h2>Lead Engineer</h2> 
              <p>Lead Cloud Engineer &#64;Google, Former &#64;Amazon AWS</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/coco.png');">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/michael.png');">               
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo colored"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Coco Liu</h1>
              <h2>Lead Designer</h2> 
              <p>Designer, Left Field Labs &#64;Google</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Michael Pak</h1>
              <h2>Technical Project Manager</h2> 
              <p>Former Investment Banking Analyst &#64;IE</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/andy.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/guocheng.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/bonnie.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo yellow">
              <div class="team-blurb-hex text">
                <h1>Started my career in Japan - and loved it</h1>
                <h1>My weekends are usually busier than weekdays</h1>
              </div>  
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo yellow">
            <div class="team-blurb-hex text">
              <h1>Training for Wimbledon (don't hold your breath~)</h1>
              <h1>Really likes to travel and binge watch TV shows</h1>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Andy Chou</h1>
              <h2>Lead Marketing</h2> 
              <p>Account Manager &#64;Criteo, Former Marketing Analyst &#64;Rakuten</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Guocheng Xie</h1>
              <h2>Smart Contract Engineer</h2> 
              <p>Engineer &#64;Uber</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Bonnie Qin</h1>
              <h2>Backend Engineer</h2> 
              <p>Engineer &#64;Google</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>


    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/kevin.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo colored"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/rob.png');">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/miao.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Kevin Van</h1>
              <h2>Front End Engineer</h2> 
              <p>Engineer &#64;Bandai Namco Entertainment America</p> 
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo yellow">
            <div class="team-blurb-hex text">
              <h1>Musician in my free time</h1>
              <h1>Rock Climber, Learning Ukulele, and Professional Animal Cuddler</h1>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo yellow">
            <div class="team-blurb-hex text">
              <h1>I must be sleeping when I'm not traveling, vice versa</h1>
              <h1>Love all forms of creative expression</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Rob Peterson</h1>
              <h2>Smart Contract Engineer</h2> 
              <p>Former Data Scientist/Co-Founder &#64;The Taste Institute</p> 
            </div> 
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Miao Yu</h1>
              <h2>Smart Contract Engineer</h2> 
              <p>Engineer &#64;Google, Former Engineer &#64;Uber</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/angela.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo yellow">
            <div class="team-blurb-hex text">
              <h1>Fitness enthusiast</h1>
              <h1>If you can't find me on weekends, I'm probably hiding in a tent somewhere without cell reception</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

  
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/george.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
          <div class="team-blurb-hex">
            <h1>Angela Yu</h1>
            <h2>Animator</h2> 
            <p>Art Director &#64;Yahoo</p> 
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>

  
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo colored"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>George Perez</h1>
              <h2>Designer</h2> 
              <p>UI/UX Designer &#64;Bandai Namco Entertainment America</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/rex.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/lin.png');">                
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo yellow">
            <div class="team-blurb-hex text">
              <h1>Outside of coding I like to DJ and produce EDM</h1>
              <h1>Photography Enthusiast / Avid Blogger</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo overlay" 
            style="background-image: url('assets/images/profile/tommy.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Rex Chen</h1>
              <h2>Public Relations</h2> 
              <p>Cryptocurrency Investor, Former Sales Account Executive</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Lin T</h1>
              <h2>Community Manager</h2> 
              <p>Customer Engagement Manager</p> 
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo colored"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Tommy Koo</h1>
              <h2>Content Writer/Community Manage</h2> 
              <p>Community Manager</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>


    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo">
            <div class="team-blurb-hex">
              <h1>Sean Moran (Neas)</h1>
              <h2>Marketing</h2> 
              <h1>Sunny</h1>
              <h2>PR &amp; Marketing</h2>
              <h1>J Cooper</h1>
              <h2>Product</h2> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container invisible">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div class="hexagon-photo"></div>
        </div>
      </div>
    </div>
    <!-- <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/jontest.png');">                
          </div>
        </div>
      </div>
    </div>
    <div class="hexagon-container">		
      <div class="hexagon hexagon2">
        <div class="hexagon-inner">
          <div 
            class="hexagon-photo" 
            style="background-image: url('assets/images/jontest.png');">                
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>