<div class="bee-email-form-container">
  <form class="bee-main-cta-form" method="POST" action="https://formspree.io/thebeetoken@gmail.com">
    <input class="bee-main-cta-email" id="bee-main-cta-email" type="email" name="email" placeholder="Your Email" autoComplete="off">
    <input class="bee-main-cta-cc" id="bee-main-cta-cc" type="hidden" name="_cc" value="">
    <input class="bee-main-cta-hidden" type="hidden" name="_subject" value="Stay tuned for The Bee Token updates!">
    <input class="bee-main-cta-hidden" type="hidden" name="_next" value="https://thebeetoken.github.io">
    <input class="bee-main-cta-hidden" type="hidden" name="_format" value="plain">
    <button class="bee-main-cta-submit" id="bee-main-cta-submit" type="submit">Submit</button>
  </form>
</div>