<bee-header></bee-header>
<bee-email-bar (emitClose)="closeEmailBar($event)" *ngIf="isShown" [class.isVisible]="isVisible"></bee-email-bar>
<div class="main-container">
  <div class="main-background"></div>
  <bee-hero></bee-hero>
</div>
<bee-valueprops></bee-valueprops>
<bee-roadmap></bee-roadmap>
<bee-token-distribution></bee-token-distribution>
<bee-team></bee-team>
<bee-advisors></bee-advisors>
<bee-partners></bee-partners>
<bee-media></bee-media>
<bee-subscribe></bee-subscribe>
<bee-footer></bee-footer>