.bee-team-core {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 3;

  @media (min-width: 768px) {
    width: 700px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    margin-left: -24px;
  }

  @media (min-width: 1025px) {
    width: 898px;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.bee-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 184px;
  height: 400px;
  margin-top: 56px;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 72px;
    margin-left: 24px;
  }

  @media (min-width: 1025px) {
    display: block;
    height: 500px;
  }
}

.bee-team-profile-container {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background: #B0BEC5;
  opacity: 0.5;
}

.bee-team-name {
  font-weight: 600;
  color: #FFC107;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 36px;

  @media (min-width: 1025px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 54px;
  }
}

.bee-team-title {
  font-weight: 600;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 2px;
  text-align: center;
  
  @media (min-width: 1025px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 6px;
    text-align: left;
  }
}

.bee-team-info {
  font-weight: 200;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  margin-top: 30px;
  text-align: center;
  
  @media (min-width: 1025px) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.bee-team-social-links {
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.bee-team-social-link-container {
  width: 24px;
  height: 24px;
  transition: all 0.25s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.bee-team-social-link {
  width: 100%;
  height: 100%;
}